#body[theme="osmp"][ismobile="true"] h1 {
    font-size: 20px;
}

#body[theme="osmp"] h1 {
    margin-top: 20px;
    font-size: 24px;
}

#body[theme="osmp"] .h3 {
    font-family: Verdana;
    font-size: 14px;
    color: #444;
    line-height: 1.231;
    font-weight: bold;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 14px 0 5px 0;
}

#body[theme="osmp"] .h4 {
    font-family: Verdana;
    font-size: 12px;
    color: #444;
    line-height: 1.231;
    font-weight: bold;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 14px 0 5px 0;
}

#body[theme="osmp"] p {
    margin: 20px 0;
    font-size: 12px;
}

#body[theme="osmp"] .titleBody {
    margin: 25px 0 35px 0;
}

#body[theme="osmp"] p.tipText {
    margin: 10px 0 30px 0;
}

#body[theme="osmp"] [control="forms:fieldContainer"] {
    margin-bottom: 30px;
}

#body[theme="osmp"] .spanish-link {
    position: absolute;
    right: 5px;
    text-decoration: underline;
}

#body[theme="osmp"] #IlDownModal {
    width: 240px;
}

#body[theme="osmp"] .content.errorpage {
    margin: 40px auto 15px auto;
}

#body[theme="osmp"] .OneLinkNoTx {
    color: #444;
}