  @font-face {
font-family: omnes;
font-style: normal;
font-display: auto;
font-weight: 200;
src: url(../fonts/omnes/omnes-regular-webfont.eot) format("eot"), url(../fonts/omnes/omnes-regular-webfont.woff) format("woff"), url(../fonts/omnes/omnes-regular-webfont.ttf) format("truetype"), url(../fonts/omnes/omnes-regular-webfont.svg) format("svg")
}

#content {
	background: #FFFFFF;
	border: 1px solid #dcdcdc;
	border-radius: 9px 9px 9px 9px;
	padding: 2px;
}

#cabeceraTitle {
	background: url(../img/bg-separador-doble.png) repeat-x left bottom transparent;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}

table .registro tr {
	background: #fff;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;	
}

table tr.registro:hover {
	background: #e2fafe;
}

table .registro td {
	border-bottom:1px solid #E7E7E7;
	padding:5px 5px 5px 5px;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%; }

    thead {
        display: none; }

    tr:nth-of-type(2n) {
        background-color: inherit; }

    tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 14px;
        text-align: center; }

    tr td:nth-last-child(2) {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 14px;
        text-align: center; }

    tbody td {
        display: block;
        text-align: center; }

    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center; }}

.tituloPrincipal {
	font-size: 19px;
	margin: 20px 0px 10px 0px;
	font-family: omnes;
	color: #009933;	
	display: block;
	padding-bottom: 8px;
	text-align: center;
}

.tituloSecundario {
	font-size: 20px;
	padding: 10px 0px 0px 0px;
	font-family: omnes;
	border-bottom: 1px solid #dcdcdc;
	color: #0065b7;
}
@media only screen and (max-width: 600px) {
		 .contenido {
		  left: 25%; right: 25%; position: absolute; margin-top: 120px;
		}}
.textoA {
	font-family: omnes;
	font-size: 14px;
	color: #434a58;
	font-weight: bold;
}

.textoB {
	font-family: omnes;
	font-size: 14px;
	color: #71777f;
	text-align: justify;
}

.textoC {
	font-family: omnes;
	font-size: 14px;
	color: #71777f;
	text-align: right;
}

.textoD {
	font-family: omnes;
	font-weight: bold;
	font-size: 14px;
	color: #434a58;
}

input[type="text"], input[type="tel"],  input[type="password"], select {
	border: 1px solid #CCC;
	border-radius: 5px;
	outline: none;
	padding: 5px;
	color: #71777f;
	font-size: 14px;
	text-align: center;
	font-family: omnes;
}

input[type="tel"]:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus {
	border: 1px solid #0078d2;
	background-color: #fffee8;
	outline: none;
	color: #434a58;
	font-size: 14px;
	text-align: center;
	font-family: omnes;
}

.msj_chico {
	background-color: #fbf1d0;
	border: 1px solid #f2d7bb;
	margin: 10px;
	line-height: 25px;
	padding: 7px 0px 0px 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	position: relative;
}

.msj_chico .textoC {
	text-align: center;
}

.ToolTip1 {
	display: none;
	position: absolute;
	z-index: 100000;
	background-color: #EAEAEA;
	background-image: none;
	border: 4px solid #FFF;
	border-radius: 5px;
	margin: 5px 0 0 0;
	padding: 2px 5px 2px 5px;
	box-shadow: 0 0 10px #666;
	width: 215px;
}

.ToolTip2 {
	display: none;
	position: absolute;
	z-index: 100000;
	background-color: #EAEAEA;
	background-image: none;
	border: 4px solid #FFF;
	border-radius: 5px;
	margin: 5px 0 0 0;
	padding: 2px 5px 2px 5px;
	box-shadow: 0 0 10px #666;
	width: 225px;
}

.icoAlerta {
	width: 24px;
	height: 24px;
	background: url(../img/ico-spriteAlertaInformacion24.png) no-repeat;
	position: absolute;
	left: 20px;	
}

.bt {
	font-size: 12px;
	height: 40px;
	width: 100px;
	line-height: 40px;
	background: #0079c1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0079c1 0%, #00559c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0079c1), color-stop(100%,#00559c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0079c1 0%,#00559c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0079c1 0%,#00559c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0079c1 0%,#00559c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0079c1 0%,#00559c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079c1', endColorstr='#00559c',GradientType=0 ); /* IE6-9 */
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
	border: 1px solid #00559d;
	cursor: pointer;
	text-align: center;
	margin-top: 1px;
}