@font-face {
font-family: omnes;
font-style: normal;
font-display: auto;
font-weight: 200;
src: url(files/fonts/omnes/omnes-regular-webfont.eot) format("eot"), url(files/fonts/omnes/omnes-regular-webfont.woff) format("woff"), url(files/fonts/omnes/omnes-regular-webfont.ttf) format("truetype"), url(files/fonts/omnes/omnes-regular-webfont.svg) format("svg")
}

