/**
  * @version $Revision: 1.1 $
  * @lastmodified $Date: 2018/01/12 10:43:04 $
*/

/**
  * Correction sur page d'accueil AGV
*/

.widgPage #main {
    margin-right: 0px !important;
    width: auto !important;
    float: none !important;
}

/**
*
*/

img.LpaddingSm {
    max-width: none;
}

/**
* Virement P 1er ecran alignement label et boutons radios
*/

.field .radio label.floatL {
    margin-top: 0px;
}

/**
* Ajout b�n�f - sous chrome, pas d icone poubelle
*/

th.bkg span img.LpaddingSM {}

/**
  * Correctif Ano n12 sur boutons radios
*/

#main form .formline.formline-radio input[type='radio'] {
    margin-top: 0.6em;
}

/**
* Solde mis en avant descendre un peu �
*/

#main span.part-a .synthese_solde {
    margin-top: 7px;
}

/**
* N9 & 11 & 51 Largeur tableaux
*/

#main ul.cinquieme.tabs li {
    width: 19.76%;
}

#main ul.tier.tabs li {
    width: 33.09%;
}

#main ul.tabs.demi li {
    width: 49.75%;
}

/**
* N11 

Cette correction ajoute un morceau de tableau vide
*/

tr.even td.webaccess,
#myTable tbody td.webaccess {
    position: relative;
}

/**
* N5&8 (8-sur plusieurs lignes c'est pas top top) decalage label liste
*/

label {
    margin-top: 0.6em;
}

/**
* N6 bouton gris - une regle JS a �t� mise dans resources.jsp
*/

#main a.btn_annuler {
    background-color: #F2F2F2 !important;
    color: #000 !important;
}

/**
* N10 cases a cocher trop basse ereleve
*/

#main .formline.checkbox input[type='checkbox'] {
    vertical-align: top;
    margin-top: 13px;
}

/**
* N14 largeur
cf. fichier standardPopin.jsp
*/

/**
* N15 taille cadre
*/

#popinEnd {
    height: 1px;
    width: 1px;
    font-size: 1%;
}

/**
* Enleve les tableaux et laisse uniquement les filets sur page ereleve par exemple
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
}

/**
* N46
*/

#main form .formline .label span {
    font-weight: normal;
}

/**
* N50
*/

#main table.dataNum.displaytablesorter tfoot tr {
    border-top-style: none;
}

/**
* Correctif N52 avec la modification du hub.js
*/

.cache_hub,
.badge.badge--primary.cache_hub {
    display: none;
}

/**
* N20 espace - modif HTML ajout quart
*/

/**
* N24 d�calage TFI
*/

.formline .label+.field {
    padding-top: 8px;
}

/**
* N48 Gestion libre
* Retouch� pour que le bouton soit cliquable en totalit�
* Corrige aussi la 42669
*/

#main form#selection_contrat h3.title-level3 {
    float: left;
    padding-left: 5px;
}

iframe#framePopin {
    position: absolute;
}

#modalWindow {
    height: 70%;
}

/**
* N29 ajout d'espaces entre blocs
*/

#main div.bloc.Tmargin h3.title-level3 {
    padding-top: 30px;
}

/**
* N31 Page TFI
*/

#main div.bloc.Tmargin fieldset.radioAction div.label.radio label {
    margin-top: 0px;
}

#main div.field.doublefield span label.helper {
    margin-top: 0em;
}

/**
* N33 espacer 
*/

#main fieldset div.cinquieme {
    padding-left: 5px;
}

#main form .formline .dl {
    width: 33%;
    top: 8px;
}

/**
* N36, 37, 38 Enlever le style gras et passer par une classe
*/

#main span.impaye {
    color: red !important;
}

#main .rouge {
    color: red !important;
}

#main .gras {
    font-weight: bold !important;
}

/**
* N16 - Taille IBAN
*/

#main form input.iban {
    width: 62px;
    text-align: center;
}

/**
*
*/

#main .formline div.field span.radio,
#main .formline div.field span.radio label,
#main .formline div.field span.radio input[type='radio'] {
    display: inline-block;
}

#main .formline div.field span.radio {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    #main form .formline div.field span.radio input {
        width: auto;
    }
    #main form .formline div.field span.radio label {
        float: none;
    }
}

/**
* tous les boutons radios
*/

input[type='radio'],
input[type='checkbox'] {
    position: relative;
    top: 2px;
}

/**
* Lors du resize cache la popin derriere
*/

#popinContBack {
    background-color: transparent;
}

/**
* 41 symbole euro
*/

#main span.part-a .synthese_solde sup {
    position: relative;
    top: -10px;
    vertical-align: initial
}

/**
* ano N42663
**/

#main form .formline.checkbox .cinquieme input.text {
    width: 83%;
}

/**
* ano N42686
*/

#main form input.montant {
    width: 110px;
}

#main .bloc .codepostal {
    width: 110px;
}

#main form div.multifield .colcontent2.spec-a * {
    text-align: center;
    padding-right: 0px;
}

/**
* correctif a mettre sur les pages de modification d'adresse
#main.content fieldset div.formline div.radioinverse div.label label{
	margin-top: 0px;
}
**/

/**
* Picto maison sur les donnees perso
**/

#main h2 .picto_ad,
#main .titleAccordion h2 .picto_ad {
    background: url('../../img/q4x/PictoAdresse-bleu.png') no-repeat top left;
}

/**
* Logo
**/

#header-main .logo-wrapper {
    display: inline-block;
    margin: 0 20px 0 0;
    margin: 0 2rem 0 0;
    position: absolute;
    left: 20px;
    left: 2rem;
    top: 50%;
    margin-top: -25px;
    margin-top: -2.5rem;
    margin-right: 0;
}

#header-main .logo-wrapper .logo {
    width: 50px;
    max-height: 50px;
    padding: 0px;
    padding: 0rem;
    background-color: inherit;
}

/**
* Boutons N43348
*/

#main .accesAssur li {
    padding-top: 0px;
}

/**
* Taille input montants N43362
*/

.smallInputs input {
    width: 80px;
}

/**
* N44171
**/

#main div.formline.radioinverse.formline-radio div.label+div.field {
    padding-left: 75px;
    padding-top: 0px;
}

/**
* N44173
**/

#main form#SaisiePaysBeneficiaireVirement div.bloc fieldset div.formline div.field span.radio.floatL {
    margin-top: 0.6em !important;
}

/**
* N43359 - 44949 - 44953
**/

#main td ul.actions a strong {
    color: #fff !important
}

/**
* N43124 - Accessibilit�
**/

.quick-access {
    margin-top: 0px;
    position: absolute;
    font-size: 0.9em;
}

.quick-access>li {
    float: left;
}

.quick-access>li>a {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    display: block;
}

/**
* N42957 tableau
**/

#main #formID .bloc dd {
    border-left: solid 1px #d4d3d1;
    min-height: 40px;
}

#main #formID .bloc dt {
    border-right: none;
    min-height: 40px;
}

/**
* 44453 bouton fermer inbenta
**/

div#inbenta-contents h1.modal-title {
    float: left;
    width: auto;
}

/**
* 42891
**/

#main div.bloc table#myTable {
    border-collapse: separate;
}

#main div.bloc table#comptes {
    border-collapse: separate;
}

/**
* 41838 alignement lire, derniere colonne a gauche, libelle a gauche
**/

#main div.lireAccordion.alignTop {
    top: 2px;
}

div#comptesDetail.accordContent div.bloc.Tmargin table tbody tr td:last-child.bdrL {
    text-align: left !important;
}

div#comptesDetail.accordContent div.bloc.Tmargin table thead tr th:last-child {
    text-align: left !important;
}

div#comptesDetail.accordContent div.bloc.Tmargin table thead tr th:last-child a {
    max-width: 95px;
}

div#comptesDetail.accordContent div.bloc.Tmargin table thead tr th:nth-child(3),
table#virementPermanents thead tr th:nth-child(3) {
    text-align: left !important;
}

div#comptesDetail.accordContent table.dataNum.tablesorter thead th span a {
    background-position-y: center;
    padding-right: 30px;
    display: inline-block;
}

/**
* 43383 - Decalage bouton OK
**/

form#ChoixFormuleVU div.doublefield span input {
    margin-top: 10px !important;
}

/**
* Probl�me de bordure tableau droite sur b�n�ficiaires
**/

form#ListeComptesBeneficiaires table#myTableV {
    border-collapse: separate;
}

/**
* 42674 indice qui chevauche la ligne sup�rieure pour les ch�ques en attente de provision
*/

#main ul li p span sup.chequesEnAttente {
    vertical-align: baseline;
    top: -3px;
}

/**
* 43367 - les montants de desinvestissements doivent etre alignes a droite
**/

#main form table#desinvest.dataNum tbody tr td:nth-child(2) {
    text-align: right !important;
}

/**
* 42937 - code confidentiel qui chevauche
**/

#SaisieCaracteristiquesProduitMEIFormBean #donneesAffichage\.codeConfidentielObligatoire+div.field {
    display: inline-flex;
    width: 67%;
}

/**
* 45768 - recherche operation carte bancaire
**/

#main form#TheForm div.bloc div.formline div.col span.decal {
    width: auto;
}

/**
* 45832 / 42975 : libelle calendrier a effacer + afficher calendrier dur safari
**/

a.dp-choose-date {
    background: transparent url(../../img/q4x/picto_calendar.png) no-repeat center center;
    white-space: nowrap;
    text-indent: 100%;
    background-size: 20px;
    vertical-align: top;
    overflow: hidden;
}

/**
* 46271 : hauteur des input
**/

#main form.adhesionForm .formline input.moyenlarge {
    height: auto;
}

/**
* 45700 : decalage tableau des prets
**/

#main #pretConsoTable.dataNum tbody tr td:nth-child(2),
#main #pretConsoTable.dataNum thead tr th:nth-child(2) {
    text-align: right;
}

/**
* 45659 : decalage tableau compte titre
**/

#main #comptesTitres.dataNum tbody tr td:nth-child(2),
#main #comptesTitres.dataNum thead tr th:nth-child(2) {
    text-align: right;
}

/**
* 45696 : popin d'annulation de virement
**/

.decalageDroite10 {
    padding-right: 10px;
}

/**
*	pour form_auth
**/

div.alert--primary p.alert__body {
    float: none;
}

/**
* 46929 - Formulaire auth iso q4x v1
*
**/

body#standardFormAuth p:first-child {
    margin-top: 0.65em !important;
}

body#standardFormAuth select {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

body#standardFormAuth .codePostal {
    width: 70px !important;
}

body#standardFormAuth input[type='radio']+label,
body#standardFormAuth input[type='checkbox']+input[type='hidden']+label,
body#standardFormAuth input[type='checkbox']+label {
    margin-top: 0px !important;
}

body#standardFormAuth #client\.naissance\.departement {
    width: 60px !important;
}

body#standardFormAuth #cp {
    width: 70px !important;
}

body#standardFormAuth #gestionFormAutDataBean\.formulaire\.departementNaissance {
    width: 60px !important;
}

body#standardFormAuth #gestionFormAutDataBean\.formulaire\.nbreEnfantsCharges {
    width: 60px !important;
}

body#standardFormAuth select#obtentionRV {
    width: 500px !important;
}

body#standardFormAuth #resume dt {
    margin-right: 20px !important;
}

#main .uppercaseTitle {
    text-transform: uppercase;
    font-weight: bold !important;
}

#main .totaux {
    font-weight: bold !important;
    text-align: right;
}

#main .zeroAuDefocus {
    text-align: right;
    box-sizing: initial;
}

#main .right {
    text-align: right;
}

#main select.paddingzero {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#main .boldCenter {
    font-weight: bold !important;
    text-align: center;
}

#main .centerImportant {
    text-align: center !important;
}

#main .weight700 {
    font-weight: bold !important;
    color: #fff !important;
}

#main .bloc dt span.width100 {
    width: 100%;
}

#lightboxV2 {
    width: 400px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(19, 68, 161);
    box-sizing: border-box;
}

/* Surcharge de la largeur pour afficher le titre en entier */

#lightboxV2.popin_devices {
    width: 600px;
}

#lightboxV2.mediumSize {
    width: 600px;
}

#lightboxV2 a.modalCloseImg {
    display: none;
}

#lightboxV2 .header {
    line-height: 47px;
    position: relative;
    overflow: hidden;
    zoom: 1;
    height: 47px;
    margin-bottom: 0;
    color: #fff;
    background: #1243a0;
    background-color: rgb(19, 68, 161);
    background-repeat: repeat-x;
    background-position: top left;
    _overflow: visible;
}

#lightboxV2 .header .webaccess {
    left: -40px;
    overflow: hidden;
    position: absolute;
    line-height: 15px;
}

#lightboxV2 .header a {
    position: absolute;
    left: 360px;
    font-weight: bold;
    line-height: 16px;
    display: block;
    float: right;
    width: 17px;
    height: 17px;
    margin: 15px 15px 0 0;
    padding-right: 25px;
    color: #fff;
    background-image: url(../q4x/skin/popin/popinCross.gif);
    background-repeat: no-repeat;
    background-position: right top;
}

/* Surcharge de la largeur pour afficher le titre en entier */

#lightboxV2.popin_devices .header a {
    right: 0px;
    left: auto;
}

#lightboxV2 .header h1#popinTitle,
#lightboxV2 .header #popinTitleDiv {
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    width: 80%;
    margin-bottom: 16px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    color: #fff;
}

#lightboxV2 .header h1 img {
    display: none;
}

#lightboxV2 .body {
    padding: 0 15px;
}

#lightboxV2 label,
#lightboxV2 input,
#lightboxV2 p {
    display: block;
    margin: 15px auto;
}

#lightboxV2 label {
    text-align: center;
}

#lightboxV2 .ajaxPopinLargeForm select {
    line-height: 30px;
    display: block;
    width: 300px;
    height: 30px;
    margin: 15px auto;
}

#lightboxV2 ul.smallPopinLinks {
    margin: 10px 0 10px 0;
    text-align: center;
}

#lightboxV2 ul.smallPopinLinks li {
    clear: both;
    float: none !important;
    background-color: rgb(19, 68, 161);
    line-height: 33px;
    display: inline-block;
    height: 33px;
    padding-left: 15px;
    text-align: center;
    _display: inline;
}

#lightboxV2 ul.smallPopinLinks li .btn_crt {
    line-height: 33px;
    height: 33px;
}

#lightboxV2 ul.smallPopinLinks li .btn_crt strong {
    font-size: 85%;
    line-height: 33px;
    float: right;
    height: 33px;
    margin: 0;
    padding: 0;
    padding-right: 17px;
    text-align: left;
    vertical-align: top;
    color: #fff;
    background: rgb(19, 68, 161);
}

#lightboxV2 ul.smallPopinLinks li input.btn_crt {
    font-size: 85%;
    line-height: 33px;
    float: right;
    height: 33px;
    margin: 0;
    padding: 0;
    padding-right: 17px;
    text-align: left;
    vertical-align: top;
    color: #fff;
    background: rgb(19, 68, 161);
}

#lightboxV2 ul.smallPopinLinks li .btn_crt strong em {
    font-size: 85%;
    font-weight: normal;
    line-height: 8px;
    display: inline;
    padding-right: 4px;
    color: #504d51;
}

#lightboxV2 ul.smallPopinLinks li strong {
    margin-bottom: -9px;
    padding-top: 9px;
}

#lightboxV2 ul.smallPopinLinks li.simple strong {
    margin-left: 6px;
    padding-right: 10px;
}

#lightboxV2 ul.smallPopinLinks li.long .btn_crt strong {
    margin-left: 40px;
    padding-right: 40px;
}

#lightboxV2 ul.smallPopinLinks .btn {
    font-size: 12px;
    font-size: 90%;
    font-weight: bold;
    height: 33px;
    margin: 0;
    padding: 0 17px 0 0;
    color: #504d51;
    border: 0 none;
    background: url('skin/bkg-abtn.png') no-repeat scroll right top transparent;
}

/* reinit box-sizing to content-box */

.content-box {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* modification css pour modal */

#main .modal label,
#main .modal input,
#main .modal p {
    display: block;
    margin: 15px auto;
}

#main .modal-content {
    border-radius: 0;
}

.profile .dropdown-menu {
    margin-left: -23px;
    margin-left: -2.3rem;
}

#header-main.fixed .header__profile .nav-profile ul li.profile .dropdown-menu {
    margin-left: -65px;
    margin-left: -6.5rem;
}