/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* == Ce fichier permet d'aller chercher les fontes en local a cause d'un probleme de securite pour aller les chercher sur CQ             */

/* -------------------------------------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'LatoRegular';
    src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.eot"), url("fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype"), url("fonts/Lato-Regular.svg#LatoRegular") format("svg");
}

@font-face {
    font-family: 'LatoBold';
    src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.eot"), url("fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype"), url("fonts/Lato-Bold.svg#LatoBold") format("svg");
}

@font-face {
    font-family: 'LatoBlack';
    src: url("fonts/Lato-Black.woff2") format("woff2"), url("fonts/Lato-Black.eot"), url("fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Black.woff") format("woff"), url("fonts/Lato-Black.ttf") format("truetype"), url("fonts/Lato-Black.svg#LatoBlack") format("svg");
}

@font-face {
    font-family: 'ArialMT';
    src: url("fonts/ArialMT.woff") format("woff"), url("fonts/ArialMT.eot"), url("fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("fonts/ArialMT.ttf") format("truetype"), url("fonts/ArialMT.svg#ArialMT") format("svg");
}