@font-face {
    font-family: 'FontIcons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#FontIcons') format('svg');
    font-weight: normal;
    font-style: normal
}

#inbenta-contents .faq-body-Reponse a,
#inbenta-contents .faq-body-Reponse a:hover {
    color: #17479e
}

.oculted {
    display: none
}

.search-bar .input-wrapper {
    position: relative
}

.header__profile .nav-profile #autocomplete>ul>li {
    white-space: normal
}

#inbenta-contents .modal-dialog,
#inbenta-faq-cq .modal-dialog,
#inbenta-iframe .modal-dialog {
    width: 768px;
    margin: 30px auto
}

#inbenta-contents .modal-body,
#inbenta-faq-cq .modal-body,
#inbenta-iframe .modal-body {
    padding: 0 3rem 3rem 3rem
}

#inbenta-contents .modal-body .collapse__body.collapse__body--close,
#inbenta-faq-cq .modal-body .collapse__body.collapse__body--close,
#inbenta-iframe .modal-body .collapse__body.collapse__body--close {
    display: none
}

#inbenta-contents .modal-body .faq-body-Reponse ul,
#inbenta-faq-cq .modal-body .faq-body-Reponse ul,
#inbenta-iframe .modal-body .faq-body-Reponse ul {
    list-style: circle
}

#inbenta-contents .modal-body .faq-body-Reponse ol,
#inbenta-faq-cq .modal-body .faq-body-Reponse ol,
#inbenta-iframe .modal-body .faq-body-Reponse ol {
    list-style: decimal
}

#inbenta-contents .modal-body .faq-body-Reponse table,
#inbenta-faq-cq .modal-body .faq-body-Reponse table,
#inbenta-iframe .modal-body .faq-body-Reponse table {
    border-collapse: collapse
}

#inbenta-contents .modal-body .faq-body-Reponse table,
#inbenta-faq-cq .modal-body .faq-body-Reponse table,
#inbenta-iframe .modal-body .faq-body-Reponse table,
#inbenta-contents .modal-body .faq-body-Reponse th,
#inbenta-faq-cq .modal-body .faq-body-Reponse th,
#inbenta-iframe .modal-body .faq-body-Reponse th,
#inbenta-contents .modal-body .faq-body-Reponse td,
#inbenta-faq-cq .modal-body .faq-body-Reponse td,
#inbenta-iframe .modal-body .faq-body-Reponse td {
    border: 1px solid black
}

#inbenta-contents .modal-body .faq-body-Reponse th,
#inbenta-faq-cq .modal-body .faq-body-Reponse th,
#inbenta-iframe .modal-body .faq-body-Reponse th,
#inbenta-contents .modal-body .faq-body-Reponse td,
#inbenta-faq-cq .modal-body .faq-body-Reponse td,
#inbenta-iframe .modal-body .faq-body-Reponse td {
    padding: 5px
}

#inbenta-contents .modal-body .faq-body-Reponse .inbenta-embed-video,
#inbenta-faq-cq .modal-body .faq-body-Reponse .inbenta-embed-video,
#inbenta-iframe .modal-body .faq-body-Reponse .inbenta-embed-video {
    width: 100%
}

#inbenta-contents .modal-body .collapse__footer,
#inbenta-faq-cq .modal-body .collapse__footer,
#inbenta-iframe .modal-body .collapse__footer {
    padding: .8rem 2rem;
    margin: .8rem
}

#inbenta-contents .modal-body .collapse__footer+.rating-alert>.collapse__footer,
#inbenta-faq-cq .modal-body .collapse__footer+.rating-alert>.collapse__footer,
#inbenta-iframe .modal-body .collapse__footer+.rating-alert>.collapse__footer {
    background-color: #17479e
}

#inbenta-contents .modal-body .last-question,
#inbenta-faq-cq .modal-body .last-question,
#inbenta-iframe .modal-body .last-question {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.4;
    color: #000;
    margin-bottom: 20px
}

#inbenta-contents .modal-body .faq-body-Reponse a,
#inbenta-faq-cq .modal-body .faq-body-Reponse a,
#inbenta-iframe .modal-body .faq-body-Reponse a {
    color: #17479e
}

#inbenta-contents .modal-body .faq-body-Reponse a:hover,
#inbenta-faq-cq .modal-body .faq-body-Reponse a:hover,
#inbenta-iframe .modal-body .faq-body-Reponse a:hover {
    color: #17479e
}

#inbenta-contents .modal-body .inbenta-search-button,
#inbenta-faq-cq .modal-body .inbenta-search-button,
#inbenta-iframe .modal-body .inbenta-search-button {
    text-transform: uppercase
}

#inbenta-contents .modal-body .oculted,
#inbenta-faq-cq .modal-body .oculted,
#inbenta-iframe .modal-body .oculted {
    display: none !important
}

#inbenta-contents .modal-body .errorUserInfo,
#inbenta-faq-cq .modal-body .errorUserInfo,
#inbenta-iframe .modal-body .errorUserInfo {
    color: red
}

#inbenta-contents .rating-content,
#inbenta-faq-cq .rating-content,
#inbenta-iframe .rating-content {
    padding: 10px;
    display: table
}

#inbenta-contents .rating-content .rating-phrase,
#inbenta-faq-cq .rating-content .rating-phrase,
#inbenta-iframe .rating-content .rating-phrase {
    display: table-cell;
    padding-right: 10px
}

#inbenta-contents .rating-content .txtcenter,
#inbenta-faq-cq .rating-content .txtcenter,
#inbenta-iframe .rating-content .txtcenter {
    display: table-cell
}

#inbenta-contents .rating-content a,
#inbenta-faq-cq .rating-content a,
#inbenta-iframe .rating-content a {
    background-color: #ebebeb;
    padding: 3px;
    border: 1px solid #ebebeb;
    border-radius: 3px
}

#inbenta-contents .rating-content a:hover,
#inbenta-faq-cq .rating-content a:hover,
#inbenta-iframe .rating-content a:hover {
    background-color: #d7d7d7;
    border: 1px solid #d7d7d7;
    color: initial;
    text-decoration: none
}

#inbenta-contents .rating-content .rating-alert,
#inbenta-faq-cq .rating-content .rating-alert,
#inbenta-iframe .rating-content .rating-alert {
    background-color: #007281;
    color: #fff;
    transition: color .35s ease-in-out 0s, background-color .35s ease-in-out 0s
}

#inbenta-contents .rating-alert,
#inbenta-faq-cq .rating-alert,
#inbenta-iframe .rating-alert {
    background-color: #17479e;
    color: #fff;
    transition: color .35s ease-in-out 0s, background-color .35s ease-in-out 0s
}

#inbenta-contents .related-title,
#inbenta-faq-cq .related-title,
#inbenta-iframe .related-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 .8rem;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 4px;
    margin-left: 14px
}

#inbenta-contents .collapse--grey .collapse-related__header,
#inbenta-faq-cq .collapse--grey .collapse-related__header,
#inbenta-iframe .collapse--grey .collapse-related__header {
    background-color: #f2f2f2
}

#inbenta-contents .collapse-related__header,
#inbenta-faq-cq .collapse-related__header,
#inbenta-iframe .collapse-related__header {
    border-bottom: 1px solid #e4e4e4
}

#inbenta-contents .collapse-related__toggle,
#inbenta-faq-cq .collapse-related__toggle,
#inbenta-iframe .collapse-related__toggle {
    display: table;
    padding: 2rem;
    width: 100%
}

#inbenta-contents .inbenta-related .collapse-related__content,
#inbenta-faq-cq .inbenta-related .collapse-related__content,
#inbenta-iframe .inbenta-related .collapse-related__content {
    padding: 20px 10px 10px
}

#inbenta-contents .inbenta-related .collapse__toggle>*,
#inbenta-faq-cq .inbenta-related .collapse__toggle>*,
#inbenta-iframe .inbenta-related .collapse__toggle>* {
    display: table-cell;
    vertical-align: middle
}

#inbenta-contents .collapse-related__footer,
#inbenta-faq-cq .collapse-related__footer,
#inbenta-iframe .collapse-related__footer {
    margin-bottom: 2.8rem
}

#inbenta-contents .collapse-related__toggle .collapse__title h3,
#inbenta-faq-cq .collapse-related__toggle .collapse__title h3,
#inbenta-iframe .collapse-related__toggle .collapse__title h3 {
    border-bottom-color: #333;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: #333;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: #333;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: #333;
    border-top-style: none;
    border-top-width: 0;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: none;
    text-decoration-color: #333;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: none;
    vertical-align: baseline;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none
}

#inbenta-contents .collapse-related__content .faq-body-Reponse,
#inbenta-faq-cq .collapse-related__content .faq-body-Reponse,
#inbenta-iframe .collapse-related__content .faq-body-Reponse {
    font-size: 12px
}

#inbenta-contents .inbenta-related,
#inbenta-faq-cq .inbenta-related,
#inbenta-iframe .inbenta-related {
    margin-bottom: 30px;
    margin-top: 15px
}

#inbenta-contents .inbenta-related .collapse-related__header,
#inbenta-faq-cq .inbenta-related .collapse-related__header,
#inbenta-iframe .inbenta-related .collapse-related__header {
    background-color: transparent
}

#inbenta-contents .inbenta-related .collapse-related__header .collapse-related__toggle,
#inbenta-faq-cq .inbenta-related .collapse-related__header .collapse-related__toggle,
#inbenta-iframe .inbenta-related .collapse-related__header .collapse-related__toggle {
    padding: 1rem 2rem
}

#inbenta-contents .inbenta-related .collapse__footer,
#inbenta-faq-cq .inbenta-related .collapse__footer,
#inbenta-iframe .inbenta-related .collapse__footer {
    padding: .4rem 1rem;
    margin: .8rem 0
}

#inbenta-contents .inbenta-related .collapse__toggle .collapse__icon,
#inbenta-faq-cq .inbenta-related .collapse__toggle .collapse__icon,
#inbenta-iframe .inbenta-related .collapse__toggle .collapse__icon {
    font-size: 1.3rem
}

#inbenta-contents .inbenta-related .accordion,
#inbenta-faq-cq .inbenta-related .accordion,
#inbenta-iframe .inbenta-related .accordion {
    margin-left: 15px
}

#inbenta-contents .collapse__title h3,
#inbenta-faq-cq .collapse__title h3,
#inbenta-iframe .collapse__title h3 {
    text-transform: inherit
}

#autocomplete,
#autocomplete2 {
    position: absolute;
    box-sizing: border-box;
    width: inherit;
    background: #fff none repeat scroll 0 0;
    padding: 0;
    border: 1px solid #cbcbcb;
    z-index: 10;
    text-align: left
}

#autocomplete li,
#autocomplete2 li {
    font-family: arial;
    font-size: 15px;
    padding: 10px 8px;
    border: solid #fff 1px
}

#autocomplete li:hover,
#autocomplete2 li:hover {
    background: #f2f2f2;
    border: solid #e4e4e4 1px
}

#autocomplete li a,
#autocomplete2 li a {
    display: inline-block
}

#autocomplete li a:hover,
#autocomplete2 li a:hover {
    text-decoration: none
}

#autocomplete .separator,
#autocomplete2 .separator {
    width: 100%;
    height: 1px;
    background-color: #cbcbcb
}

#autocomplete .fullSearchHint,
#autocomplete2 .fullSearchHint {
    text-align: center;
    color: #555;
    font-style: italic;
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 12px
}

#autocomplete .autocomplete-result::first-letter,
#autocomplete2 .autocomplete-result::first-letter {
    text-transform: capitalize
}

.inbenta-loader {
    background-color: rgba(255, 255, 255, 0.55);
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center
}

.inbenta-loader .icon {
    display: inline-block;
    font-family: FontIcons;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px
}

.inbenta-loader .load {
    -webkit-animation: load 1s infinite steps(8);
    animation: load 1s infinite steps(8)
}

.inbenta-loader .load:before {
    content: "\f110";
    font-size: 50px;
    color: #000
}

.inbenta-loader .icon {
    align-self: center
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

/*# sourceMappingURL=inbenta.css.map */