/*classe hidden*/

.app_hidden {
    display: none;
    visibility: hidden !important;
}

/* Erreur  */

form div.formline span.app_erreur {
    font-size: 12px;
    font-weight: normal;
    color: #ff0000;
    padding: 0 5px;
}

/* Message d'erreur */

.app_erreur {
    color: #ff0000;
}

/*classe css pour le disabled*/

.disabled {
    background: #ccc;
}

/* Pour les displayTable, afin que les libelles d'entete de colonne ne soient pas colles au bordure du tableau */

#main table.dataNum thead .thSpan,
#main table.dataStr thead .thSpan,
#main table.dataNum tfoot .thSpan {
    padding: 0 4px;
    vertical-align: middle;
}

/* Pour les displayTable, surcharge les tailles fixe cinquieme du default.css */

#main th.cinquieme {
    width: 20%
}

/* Pour les displayTable pour IE 7 et 8, surcharge la taille du caption pour plus quil ny ait despace*/

#main table caption span.webaccess {
    padding: 0;
}

#navH #middleContent ul li.current2 a {
    text-decoration: underline;
}

/*Classe pour les checkbox pour les blocs VAD*/

.styleInputCheckbox {
    clear: left;
    width: auto !important;
    margin-right: 5px;
}

/*classe pour html:select */

.htmlSelect {
    width: 398px !important;
    margin-bottom: 10px;
}

/*classe pour  html:input typt text pour un code postal*/

.codePostal {
    width: 40px !important;
}